In [2]:
from bs4 import BeautifulSoup
import requests

In [6]:
#listOfRedmiPhones = []
import pandas as pd
from googlesearch import search

url = []
i = 0
j = 0
phoneName = []
phonePrice = []
bNameList = []
df = pd.DataFrame(columns = ['Brand Name','Name','Price'])
#Enter some Brands in a list
brandName = ['Samsung','LYF','Xiaomi','Vivo','Oppo','Motorola','Lenovo','Micromax','Gionee','Lava','Apple','Huawei','Intex','LG','Nokia','Asus','Karbonn','Panasonic','Itel','Coolpad','Oneplus','Tecno','Leeco','HTC','Infocus']
k = 0
for b in brandName:
    query = b + 'price list: gadgets.ndtv.com'
    print(b)
    i = 0
    url = []
    for j in search(query, tld="co.in", num=3, stop=1):
        if 'price' in j:
            url.append(j)
        else:
            continue   
    response = requests.get(url[0], headers={'User-agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36'})

    soup = BeautifulSoup(response.content, "lxml")


    listOfRedmiPhones = soup.findAll('li') 
    n = len(listOfRedmiPhones)
    while i < n:
        try:
            phoneName.append(listOfRedmiPhones[i].find('strong').get_text())
            phonePrice.append(listOfRedmiPhones[i].find('span', class_ = "").get_text())
            bNameList.append(b)
            i = i + 1
        except AttributeError: 
            i = i + 1
    k = k + 1
df['Brand Name'] = bNameList
df['Name'] = phoneName
df['Price'] = phonePrice
print(df)

Samsung
https://gadgets.ndtv.com/mobiles/samsung-price-list
LYF
https://gadgets.ndtv.com/mobiles/lyf-price-list
Xiaomi
https://gadgets.ndtv.com/mobiles/xiaomi-price-list
Vivo
https://gadgets.ndtv.com/mobiles/vivo-price-list
Oppo
https://gadgets.ndtv.com/mobiles/oppo-price-list
Motorola
https://gadgets.ndtv.com/mobiles/motorola-price-list
Lenovo
https://gadgets.ndtv.com/mobiles/lenovo-price-list
Micromax
https://gadgets.ndtv.com/mobiles/micromax-price-list
Gionee
https://gadgets.ndtv.com/mobiles/gionee-price-list
Lava
https://gadgets.ndtv.com/mobiles/lava-price-list
Apple
https://gadgets.ndtv.com/mobiles/apple-price-list
Huawei
https://gadgets.ndtv.com/mobiles/huawei-price-list
Intex
https://gadgets.ndtv.com/mobiles/intex-price-list
LG
https://gadgets.ndtv.com/mobiles/lg-price-list
Nokia
https://gadgets.ndtv.com/mobiles/nokia-price-list
Asus
https://gadgets.ndtv.com/mobiles/asus-price-list
Karbonn
https://gadgets.ndtv.com/mobiles/karbonn-price-list
Panasonic
https://gadgets.ndtv.com/mobiles/panasonic-price-list
Itel
https://gadgets.ndtv.com/mobiles/itel-price-list
Coolpad
https://gadgets.ndtv.com/mobiles/coolpad-price-list
Oneplus
https://gadgets.ndtv.com/mobiles/oneplus-price-list
Tecno
https://gadgets.ndtv.com/mobiles/tecno-price-list
Leeco
https://gadgets.ndtv.com/mobiles/leeco-price-list
HTC
https://gadgets.ndtv.com/mobiles/htc-price-list
Infocus
https://gadgets.ndtv.com/mobiles/infocus-price-list
    Brand Name                            Name      Price
0      Samsung              Samsung Galaxy S9+  Rs.62,499
1      Samsung           Samsung Galaxy Note 8  Rs.59,900
2      Samsung            Samsung Galaxy Note7  Rs.59,900
3      Samsung               Samsung Galaxy S9  Rs.55,399
4      Samsung        Samsung Galaxy Note Edge  Rs.49,500
5      Samsung         Samsung Galaxy S6 Edge+  Rs.48,500
6      Samsung           Samsung Galaxy Golden  Rs.44,581
7      Samsung              Samsung Galaxy S8+  Rs.43,990
8      Samsung               Samsung Galaxy S8  Rs.37,990
9      Samsung  Samsung Galaxy Note 5 Dual SIM  Rs.36,900
10     Samsung               Samsung Galaxy A8  Rs.35,500
11     Samsung          Samsung Galaxy S6 Edge  Rs.32,990
12     Samsung          Samsung Galaxy S7 Edge  Rs.32,900
13     Samsung        Samsung Galaxy S5 Active  Rs.31,999
14     Samsung           Samsung Galaxy Note 4  Rs.31,000
15     Samsung       Samsung Galaxy A8+ (2018)  Rs.30,990
16     Samsung               Samsung Galaxy C5  Rs.30,900
17     Samsung               Samsung Galaxy S6  Rs.29,856
18     Samsung           Samsung Galaxy C9 Pro  Rs.29,799
19     Samsung               Samsung Galaxy C7  Rs.29,579
20     Samsung             Samsung Galaxy Beam  Rs.28,223
21     Samsung               Samsung Galaxy S7  Rs.27,500
22     Samsung          Samsung Galaxy S5 mini  Rs.26,990
23     Samsung        Samsung Galaxy S Advance  Rs.26,900
24     Samsung         Samsung Galaxy Mega 6.3  Rs.26,892
25     Samsung           Samsung Galaxy Note 5  Rs.23,990
26     Samsung        Samsung Galaxy A5 (2017)  Rs.23,647
27     Samsung       Samsung Galaxy Note 3 Neo  Rs.23,500
28         LYF                         Lyf F1S   Rs.9,999
29         LYF                     Lyf F1 Plus   Rs.9,996
..         ...                             ...        ...
556        HTC                 HTC Desire 820q  Rs.17,994
557        HTC                     HTC One Max  Rs.17,990
558        HTC                      HTC One A9  Rs.17,400
559        HTC                 HTC Desire 709d  Rs.17,157
560        HTC                HTC One dual SIM  Rs.17,000
561    Infocus                    InFocus M810  Rs.13,490
562    Infocus            InFocus Vision 3 Pro  Rs.10,999
563    Infocus                   InFocus M535+  Rs.10,700
564    Infocus                    InFocus M812   Rs.9,280
565    Infocus                InFocus Bingo 50   Rs.8,999
566    Infocus                  InFocus Epic 1   Rs.8,997
567    Infocus                    InFocus M680   Rs.8,879
568    Infocus                  InFocus Snap 4   Rs.8,849
569    Infocus               InFocus Bingo 50+   Rs.7,999
570    Infocus                    InFocus M535   Rs.7,600
571    Infocus            InFocus Turbo 5 Plus   Rs.7,499
572    Infocus                 InFocus Turbo 5   Rs.7,132
573    Infocus                InFocus Vision 3   Rs.6,999
574    Infocus                    InFocus M530   Rs.6,999
575    Infocus                    InFocus M350   Rs.6,999
576    Infocus                    InFocus M808   Rs.6,990
577    Infocus                    InFocus M330   Rs.6,899
578    Infocus                   InFocus M2 4G   Rs.5,499
579    Infocus                InFocus Bingo 21   Rs.4,999
580    Infocus                    InFocus M370   Rs.4,999
581    Infocus                      InFocus M2   Rs.4,999
582    Infocus                      InFocus A2   Rs.4,875
583    Infocus         InFocus Bingo 20 (M425)   Rs.4,299
584    Infocus                InFocus Bingo 10   Rs.3,499
585    Infocus                    InFocus M260   Rs.2,999

[586 rows x 3 columns]

In [8]:
#Exporting it to a csv
df.to_csv('phone-list.csv', header = ['Brand Name','Model Name','Price'])

In [4]:
output = pd.read_csv('phone-list.csv')
output.head()

   Unnamed: 0 Brand Name                Model Name      Price
0           0    Samsung        Samsung Galaxy S9+  Rs.62,499
1           1    Samsung     Samsung Galaxy Note 8  Rs.59,900
2           2    Samsung      Samsung Galaxy Note7  Rs.59,900
3           3    Samsung         Samsung Galaxy S9  Rs.55,399
4           4    Samsung  Samsung Galaxy Note Edge  Rs.49,500

In [ ]:
#Comparision Between Prices of Phones on Flipkart and GSMarena


import pandas as pd
from googlesearch import search
phoneDF = pd.DataFrame(columns = ['Model Name As Entered by user'])
phoneDF['Model Name As Enetered by user'] = ''
phoneDF['Product Name on Flipkart'] = ''
phoneDF['Price on Flipkart'] = ''
phoneDF['Product Name on GSMarena'] = ''
phoneDF['Price on GSMarena in EUR'] = ''
phoneDF['Price on GSMarena in INR'] = ''
   
phoneDF['Model Name As Entered by user'] = phoneName

def FlipkartPrice(list1):
    i=0
    for phone in list1:
        url = []
        query = phone + ' price :flipkart.com'
        for j in search(query, tld="co.in", num=1, stop=1):
            url.append(j)
        response = requests.get(url[0], headers={'User-agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36'})

        soup = BeautifulSoup(response.content, "lxml")
        
        if "mobiles" in url[0]:
            price= soup.find('div', class_ = '_1vC4OE _2rQ-NK').get_text()
            name = soup.find('div', class_ = '_3wU53n').get_text()
        else:
            price = soup.find('div', class_ = '_1vC4OE _3qQ9m1').get_text()
            name=soup.find('span', class_ = '_35KyD6').get_text()
        phoneDF['Price on Flipkart'][i] = price
        phoneDF['Product Name on Flipkart'][i]= name
        i = i + 1
    
    
def GSMarenaPrice(list1):
    i=0
    for phone in list1:
        url = []
        query = phone + ' price :gsmarena.com'
        for j in search(query, tld="co.in", num=1, stop=1):
            url.append(j)
        print(url[0])
        urlEurToInr = 'https://www.google.co.in/search?hl=en&ei=fvghW6mWIMjZvATIlbvwBw&q=eur+to+inr&oq=eur+to+inr&gs_l=psy-ab.3..0i131i67k1j0l9.1099.1267.0.1433.2.2.0.0.0.0.99.194.2.2.0....0...1.1.64.psy-ab..0.2.192....0.RTuyNbfF5bE'
        response = requests.get(url[0], headers={'User-agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36'})
        responseEurToInr = requests.get(urlEurToInr, headers={'User-agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36'})

        soup = BeautifulSoup(response.content, "lxml")
        soupEurToInr = BeautifulSoup(responseEurToInr.content, "lxml")
        
        conversionRate = soupEurToInr.find('span', attrs = {'class': 'DFlfde', 'id': 'knowledge-currency__tgt-amount'}).get_text()
        
        name=soup.find('h1', attrs= {'class': 'specs-phone-name-title','data-spec': 'modelname'}).get_text()
        price = soup.find('td', attrs={'class':'nfo' ,'data-spec': 'price'}).get_text()
        actualPrice = ''.join([i for i in price if i.isdigit()])
        phoneDF['Price on GSMarena in EUR'][i] = actualPrice
        phoneDF['Price on GSMarena in INR'][i] = float(conversionRate)*float(actualPrice)
        phoneDF['Product Name on GSMarena'][i]= name
        i = i + 1

FlipkartPrice(phoneName)        
GSMarenaPrice(phoneName)        

print(phoneDF.head())